.content {
    padding: 15px 10px;
}

.gender {
    padding: 15px 10px;
    box-shadow: 2px 1px 9px 0px rgba(0, 0, 0, 0.1);
}

.gender img {
    width: 51px;
}

.type {
    margin-left: 10px;
    padding-top: 5px;
}

.chooseList {
    margin-top: 20px;
}

.chooseListRow {
    padding: 10px 0px;
    border-bottom: 1px solid #E5E5E5;
}

.chooseListRow span {
    margin-left: 5px;
}

.rightArr {
    height: 15px;
}