.content {
    padding: 15px 10px;
}

.empty {
    margin-top: 50%;
}

.empty p {
    color: #E2E2E2;
    font-size: 11px;
    text-align: center;
}

.empty img {
    width: 81px;
    display: block;
    margin: 0 auto;
}

.projectList {
    padding: 10px;
    padding-bottom: 2.5rem;
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #C2C2C2;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    padding: 2px !important;
}

.checkbox:checked {
    background-color: #08B9FE;
}

.bottom {
    position: fixed;
    bottom: 0;
}