.chooseAvatar {
    margin-top: 10vh;
}

.avatar {
    width: 80px;
    margin: 0 auto;
}

.gender div {
    padding: 10px 15px;
}

.gender div img {
    width: 20px;
    vertical-align: middle;
    border-radius: 5px;
}

.inputContent {
    padding: 20px 30px;
}

.inputContent div {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(225, 225, 225, .6);
}

.inputContent div input {
    width: 70%;
    padding: 4px 10px;
    direction: rtl;
    float: right;
}

.pleaseChoose {
    float: right;
    background-color: transparent;
    padding: 2px 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px 15px;
}

.submit {
    width: 100%;
    background: linear-gradient(to right, #6eacf8, #1c85ff);
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    letter-spacing: .2rem;
}

.actions-modal-button {
    font-size: 15px;
}

.female {
    display: none;
}

#phoneNum::after {
    content: '* ';
    color: red;
    margin-left: 5px;
}

#name::after {
    content: '*';
    color: red;
    margin-left: 5px;
}