.consumeTime {
    padding: 5px 8px;
    flex: 1;
}

.header {
    padding: 5px 15px;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.1);
}

.searchDiv {
    flex: 2.5;
    background-color: rgb(225, 225, 225);
    border-radius: 10px;
    margin: 2px 0px;
}

.searchInput {
    color: gray;
    background-color: rgb(225, 225, 225);
    border-radius: 12px;
    padding: 0px 5px 0px 25px;
    height: 100%;
}

.mescroll {
    position: fixed;
    top: 44px;
    bottom: 40px;
    height: auto;
    /*如设置bottom:50px,则需height:auto才能生效*/
}

.listRow {
    padding: 20px 15px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.listRowImg {
    margin-right: 10px;
}

.listRowImg img {
    width: 50px;
}

.listRowMsg {
    flex: 3;
}

.listRowMsg p {
    color: grey;
    font-size: 12px;
}

.listRowMsg img {
    width: 15px;
    border-radius: 3px;
}

.listRowDay {
    flex: 1;
    font-size: 12px;
}

.listRowDay p:nth-child(1) {
    margin-bottom: 5px;
    color: grey;
}

.addVip {
    position: fixed;
    bottom: 60px;
    right: 25px;
}

.addVip button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    opacity: .5;
}