.header {
    padding: 20px 0px 5px 0px;
    text-align: center;
}

.header div {
    margin-bottom: 8px;
}

.headerRow1 {
    width: 85px;
    border-radius: 50%;
    margin: 0 auto;
}

.setUpTime {
    color: rgb(198, 205, 217);
}

.setUpTime span {
    color: rgb(245, 246, 248);
    width: 20px;
    height: 20px;
}

.headerRightAngle {
    position: absolute;
    padding: 5px;
    right: 20px;
    top: 2vh;
    color: rgb(198, 205, 217);
}

.headerRow4 {}

.headerRow4 div:first-child {
    border-right: 1px dashed;
}

.headerRow4 div {
    flex: 1;
    color: rgb(198, 205, 217);
}

.headerRow4 div p {
    margin: 5px 0;
}

.binding {
    padding: 6px 10px;
    background-color: rgb(240, 242, 247);
    border-radius: 20px;
    color: #444444;
}

.headerRow5 {
    margin-bottom: 24px !important;
}

.headerRow6 div {
    color: rgb(198, 205, 217);
}

.headerRow6 div span {
    color: #444444;
    font-weight: 550;
    font-size: 15px;
}

.facebook-avatar {
    width: 40px;
}

.greySpace {
    width: 100%;
    height: 2vh;
    background-color: rgb(244, 245, 250);
}

.card {
    margin: 1rem !important;
}