.shep {
    background: url('../../images/chooseVersion/shep2.png');
    color: #ffffff;
}

.messagesFill {
    padding: 6vw 5vw 3vw 5vw;
    font-size: .19rem;
}

.messagesFill label {}

.messagesFill input {
    padding: 12px 21px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin-left: 10px;
    width: 310px;
    max-width: 70%;
}

.selection {
    padding: 12px 21px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin-left: 10px;
    width: 414px;
    max-width: 70%;
}

.form-group div {}

.form-control {
    padding: 12px 21px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
}

.messages-Div {
    margin-bottom: 2.5vh;
}

#myMap {
    height: 70vh;
}

.mapInput {
    width: 610px !important;
}

.map {
    padding: 0 5vw;
}

.resetPosition {
    color: #ffffff;
    background: #29C3FF;
    border-radius: 5px;
    border: none;
    padding: 11px 20px;
    margin-left: 1vw;
}

.agree {
    padding: 4vh 5vw;
    font-size: .17rem;
    vertical-align: middle;
}

.agree input {
    margin-right: 10px;
}

.agreement {
    color: #29C3FF;
    cursor: pointer;
}

.createShopBtn {
    padding: 12px 89px;
    background-color: #F2F3F5;
    display: inline-block;
    border-radius: 5px;
    border: none;
    margin-top: 3vh;
}

.ripple:active {
    border: blue;
}

.layui-layer-btn {
    font-size: .19rem;
}

.layui-layer-content p {
    padding: 5px 0;
}

.h2P {
    text-align: center;
}

.amap-marker-content div {
    /* overflow: visible !important; */
}