@media(max-width:780px) {
    .mobile-Select {
        padding: 12px 2px;
    }
    .form-control {
        padding: 12px 1px !important;
    }
    .form-group div {
        margin-left: 7px;
    }
    .navigation div {
        line-height: normal;
    }
    .resetPosition {
        margin-top: 12px;
    }
}