.content {
    padding: 15px 10px;
}

.gender {
    box-shadow: 2px -6px 9px 0px rgba(0, 0, 0, 0.1) !important;
}

.orderComList {
    box-shadow: 3px 6px 9px 1px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #E5E5E5;
}

.addOrReduce {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.addOrReduce div {
    padding: 1px 10px;
    border: 1px solid #E5E5E5;
}

.price {
    padding: 30px 10px 15px 10px;
    margin-bottom: 60px;
}

.price-row1 div {
    flex: 1;
}

.price-row2 {
    margin-top: 15px;
}

.Preferential {
    padding: 6px 6vw;
    border: 1px solid #E64340;
    border-radius: 5px;
}

.bottom {
    width: 95%;
}