

:export {
    menu-color: $base-menu-color;
    menu-color-active: $base-menu-color-active;
    menu-background: $base-menu-background;
    menu-background-active: $base-menu-background-active;
    tags-bar-background-active: $base-color-blue;
    button-background: $base-color-blue;
    pagination-background-active: $base-color-blue;
  }

  