/* 性别的头部 */

.gender {
    padding: 15px 10px;
    box-shadow: 2px 1px 9px 0px rgba(0, 0, 0, 0.1);
}

.gender img {
    max-width: 51px;
}

.type {
    margin-left: 10px;
    padding-top: 5px;
}


/* 底部公共按钮颜色 */

.bottom {
    position: fixed;
    bottom: 0;
    left: 3vw;
    background-color: #ffffff;
}

.styleBlue {
    background-color: #08B9FE !important;
    color: #ffffff !important;
    border: 1px solid #08B9FE !important;
}


/* 列表Style */

.projectListRow {
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;
}

.projectListRow img {
    max-width: 60px;
    margin: 0 12px;
    border-radius: 5px;
}

.projectListRow div {
    max-width: 58vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.projectMoney {
    color: #E64340;
    margin-top: 10px;
}


/* 蓝色checkbox */

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #C2C2C2;
    min-width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    padding: 2px !important;
}

.checkbox:checked {
    background-color: #08B9FE;
}


/* 支付方式 */

.payTex {
    font-size: 16px;
}

.payType {
    padding: 20px 0px 5px 0px;
    border-bottom: 1px solid #E5E5E5;
}

.payNum {
    color: #E64340;
    padding: 0px 5px;
    width: 50px;
}

.payType div {
    flex: 1;
}

.payType img {
    max-width: 20px;
    margin: 0px 15px;
    flex: 1;
}


/* 默认输入框 */

.deInput {
    margin-top: 5px;
    padding: 12px;
    background-color: #EFF4FF;
    width: 100%;
    font-size: 11px;
    border-radius: 5px;
}


/* 遮掩层 */

#overlay {
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}


/* 提示框 */

.alertingPosition {
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 120;
}

.alerting {
    background: #ffffff;
    border-radius: 5px;
    width: 75vw;
    margin: 0px auto;
}

.alerting img {
    max-width: 36px;
}

.alerting-img {
    text-align: center;
}

.alertingRow {
    padding: 15px 1rem;
    text-align: center;
}

.alerting button {
    padding: 15px 40px;
}

.alertingRow2 button {
    flex: 1;
    background: transparent;
    border: 1px solid #E5E5E5;
}


/* 项目item */

.Scatter-item {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    padding-top: 30px;
    margin-top: 12px;
}

.Scatter-item img {
    max-width: 60px;
    border-radius: 5px;
}

.Scatter-item-col2 {
    margin-left: 10px;
}

.Scatter-item-col2 :not(:first-child) {
    color: #ACACAC;
    font-size: 12px;
}

.rightMoney {
    position: absolute;
    right: 0;
    top: 0;
    background: #FEA116;
    border-radius: 15px 2px 0px 15px;
    padding: 5px 22px;
    color: #ffffff;
}


/* 留白 */

.blockSpace {
    width: 100%;
    height: 2vh;
    background-color: #F8F7FC;
}


/* 3项卡切换组件 */

.swiperChangeBg {
    background-color: #ffffff;
    padding: 10px 20px;
}

.swiperChange {
    background-color: #EDEDED;
    border-radius: 5px;
    padding: 3px;
}

.swiperChange div {
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.swiperChangeActive {
    background-color: #ffffff;
}