.blueBg {
    background: url('../../images/index/bg.png');
    background-size: 100% 100%;
    height: 22vh;
}

.cashRegister {
    padding: 15px 10px;
    background-color: #ffffff;
    width: 94vw;
    margin: 0 auto;
    margin-top: -110px;
    border-radius: 5px;
}

.cashRegister-row1 {
    margin: 20px 0px;
}

.cashRegister-row1 div {
    text-align: center;
}

.cashRegister-row1 div span {
    color: #E64340;
}

.cashRegister-row2 div {
    width: 28vw;
    height: 28vw;
    padding-top: 25px;
    border-radius: 5px;
    white-space: nowrap;
    text-align: center;
}

.cashRegister-row2 div img {
    width: 29px;
}

.cashRegister-row2 div span {
    display: block;
    color: #fff;
}

.cashRegister-row2 div:first-child {
    background: linear-gradient(0deg, #00C9D1, #21F9ED);
}

.cashRegister-row2 div:nth-child(2) {
    background: linear-gradient(0deg, #209AFF, #3BC7FF);
}

.cashRegister-row2 div:nth-child(3) {
    background: linear-gradient(0deg, #FE960D, #FED945);
}

.cashRegisterTitle text {
    vertical-align: top;
}