.account {
    padding: 10px;
}

.account label {
    display: block;
}

.account div {
    margin-top: 15px;
}

.payContent {
    padding: 10px 15px;
}

.deInput {
    width: 80% !important;
}

.bottom {
    width: 94vw;
}